.wrapper-calendar{
    width: 414px;
    background: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background: palegreen;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ion-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.weeks{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.week{
    text-align: center;
    padding: 5px;
}

// .calendar ul{
//     display: flex;
//     list-style: none;
//     flex-wrap: wrap;
//     text-align: center;
// }

// .calendar ul li{
//     position: relative;
//     width: calc(100% / 7);
// }

// .calendar ul li::before{
//     position: absolute;
//     content: "";
//     height: 30px;
//     width: 30px;
//     top: 50%;
//     left: 50%;
//     z-index: -1;
//     border-radius: 50%;
//     transform: translate(-50%, -50%);
// }

.days li:hover::before{
    background: #f2f2f2;
}

.days,
.weeks{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
}

.days{
    margin-bottom: 5px;
    margin-top: 3px;
}

.weeks{
    margin-bottom: 3px;
}

.calendar .weeks li{
    padding-top: 16px;
    font-weight: 400;
}

.calendar .days li{
    z-index: 1;
    font-weight: 400;
}

.dates{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}