//Calendar Formatting
.wrapper-calendar{
    width: 430px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar{
    width: 370px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

//Segment Formatting
.segmentwrapper{
    width: 430px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.choices{
    width: 370px;
}

.segconwrapper{
    width: 430px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.segcontent{
    width: 370px;
}

.historycard{
    height: 78px;
    border-radius: 10px;
    background: #FFEED4;
}

.historycont{
    padding-top: 10px;
}

.time{
    font-size: 12px;
    color: rgba(122, 99, 65, 0.75);
}

.mfood{
    padding-left: 10px;
}

.mingredient{
    font-size: 12px;
    padding-left: 10px;
}