<!--Calendar Starts Here-->
<ion-content [fullscreen]="true">
  <div class="wrapper-calendar">
    <div class="calendar">
      <ion-datetime color="bland"></ion-datetime>
    </div>
  </div>
  <!--Calendar Ends Here-->

  <!--Segment Begins Here-->
  <div class="segmentwrapper">
    <ion-segment class="choices" value="History" mode="md" [(ngModel)]="selectTabs">
      <ion-segment-button value="History">
        <ion-label>History</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Habit">
        <ion-label>Habit</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Calorie">
        <ion-label>Calorie</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <!--Segment Ends Here-->

  <!--Segment Content Starts-->
  <div class="segconwrapper">
    <section class="segcontent">
      <!--History Content Section-->
      <section *ngIf="selectTabs == 'History'">
        <ion-card class="historycard">
          <ion-card-content class="historycont">
            <ion-row class="time">time and icon</ion-row>
            <ion-row class="mfood">food</ion-row>
            <ion-row class="mingredient">main ingredient</ion-row>
          </ion-card-content>
        </ion-card>
        <ion-card class="historycard"> 
          <ion-card-content class="historycont">
            <ion-row class="time">time and icon</ion-row>
            <ion-row class="mfood">food</ion-row>
            <ion-row class="mingredient">main ingredient</ion-row>
          </ion-card-content>
        </ion-card>
        <ion-card class="historycard">
          <ion-card-content class="historycont">
            <ion-row class="time">time and icon</ion-row>
            <ion-row class="mfood">food</ion-row>
            <ion-row class="mingredient">main ingredient</ion-row>
          </ion-card-content>
        </ion-card>
      </section>
      <!--Habit Content Section-->
      <section *ngIf="selectTabs == 'Habit'">
        <h2>Habit</h2>
      </section>
      <!--Calorie Content Section-->
      <section *ngIf="selectTabs == 'Calorie'">
        <h2>Calorie</h2>
      </section>
    </section>
  </div>
  <!--Segment Content Ends-->
</ion-content>
