// Back Button Formatting
.backbuttonwrapper{
    display: flex;
    box-sizing: border-box;
    width: auto;
    align-items: center;
    margin-top: 15px;
}

.backicon{
    font-size: 20px;
    margin-top: 0.6rem;
    margin-bottom: -0.5rem;
    padding-top: 1rem 0 0 0;
}

// Calendar Formatting
.wrapper-calendar{
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar{
    width: 370px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

// Segment Formatting
.segmentwrapper{
    width: 430px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.choices{
    width: 370px;
}

.segconwrapper{
    width: 430px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.segcontent{
    width: 370px;
}

// History
.historycard{
    height: 78px;
    border-radius: 10px;
    background: #FFEED4;
}

.historycont{
    padding-top: 10px;
}

.time{
    font-size: 12px;
    color: rgba(122, 99, 65, 0.75);
    align-items: center;
}

.iconcol{
    padding: 0px;
    padding-top: 3px;
}

.iconcol2{
    padding: 0px;
}

.mfood{
    padding-left: 20px;
    color: #7A6341;
}

.mcal{
    font-size: 12px;
    padding-left: 20px;
    color: #7A6341;
}

.mgoal{
    font-size: 4.2vmin;
    padding-top: 1opx;
    padding-bottom: 5px;
}

.mgoalbox{
    font-size: 3vmin; 
    padding: 3px;
    --border-color: #6F5656;
    --size: 15px;
    --background: square;
    --inner-background: square;
    --border-radius: 0;
}

.ngoal{
    font-size: 4.2vmin;
    padding-bottom: 5px;
}

.ngoalbox{
    font-size: 3vmin; 
    padding: 3px;
    --border-color: #6F5656;
    --size: 15px;
    --background: square;
    --inner-background: square;
    --border-radius: 0;
}

.habitcont {
    padding-bottom: 0px;
}

// Calorie
// Calorie intake
.gauge-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: 2ms;
  }

.gauge-circle {
  transition: transform 0.5s ease-out; // Adjust the duration and easing as needed
}

//Total Cal Text
.totalcal{
    text-align: center;
    font-weight: 550;
    font-size: 24px;
    margin-bottom: 5px;
}
.currcal{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

//Percent Left Text

.encourage2{
    text-align: center;
}

.percentleftcontainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

.perleft2{
    color:#009578;
}