<ion-content [fullscreen]="true">
<!--Back Button-->
  <section class="backbuttonwrapper">
    <ion-button class="backicon" fill="clear" size="small" (click)="goBack()">
      <ion-icon src="../../../assets/icon/chevcircleleft.svg"></ion-icon>
    </ion-button>
  </section>
<!--Back Button Ends Here-->

<!--Calendar Starts Here-->
  <section class="wrapper-calendar">
    <section class="calendar">
      <ion-datetime color="bland" display-format="YYYY/MM/DD" [(ngModel)]="selectedDate" (ionChange)="dateChanged()"></ion-datetime>
    </section>
  </section>
  <!--Calendar Ends Here-->

  <!--Segment Begins Here-->
  <section class="segmentwrapper">
    <ion-segment class="choices" value="History" mode="md" [(ngModel)]="selectTabs">
      <ion-segment-button value="History">
        <ion-label>History</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Habit">
        <ion-label>Habit</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Calorie">
        <ion-label>Calorie</ion-label>
      </ion-segment-button>
    </ion-segment>
  </section>
  <!--Segment Ends Here-->

  <!--Segment Content Starts-->
  <section class="segconwrapper">
    <section class="segcontent">
      <!--History Content Section-->
      <section [hidden]="selectTabs !== 'History'" *ngFor="let meal of meals">
        <ion-card class="historycard">
          <ion-card-content class="historycont">
            <ion-row class="time">
              <ion-col class="iconcol" size="0.79">
              <ion-icon name="ellipse"></ion-icon>
              </ion-col>
              <ion-col class="iconcol2">
              {{ meal.id.toUpperCase() }}
              </ion-col>
            </ion-row>
            <ion-row class="mfood">{{ meal.recipeName }}</ion-row>
            <ion-row class="mingredient"> Total Calories: {{ meal.calories }} </ion-row>
          </ion-card-content>
        </ion-card>
      </section>
      <!--History Content Section Ends Here-->

      <!--Habit Content Section-->
      <section [hidden]="selectTabs !== 'Habit'">
        <ion-card-content class="habitcont">
          <ion-row class="mgoal">Current Habit Goals</ion-row>
          <section *ngFor="let habit of habits">
            <ion-checkbox class ="mgoalbox" labelPlacement="end">{{ habit.label }}</ion-checkbox>
            <br />
          </section>
        </ion-card-content>
      </section>
      <!--Habit Content Section Ends Here-->
      
      <!--Calorie Content Section-->
      <section [hidden]="selectTabs !== 'Calorie'">
        <section class="gaugewrapper2">
          <section class="gauge2">
            <section class="gauge__body2">
              <section class="gauge__fill2"></section>
              <section class="gauge__cover2">50%</section>
            </section>
          </section>
          <section class="percentleftcontainer2">
            <p class="encourage2">Only <strong class="perleft2">70%</strong> to go! You stickman.</p>
          </section>
        </section>
      </section>
      <!--Calorie Content Section Ends Here-->
    </section>
  </section>
  <!--Segment Content Ends-->
</ion-content>
