<ion-header *ngIf="selectedRecipeList">
  <ion-toolbar class="header">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-buttons class="header__btns" size="small" (click)="goBack()"><ion-icon name="close-circle" size="large"></ion-icon></ion-buttons>
        </ion-col>
        <ion-col>
          <ion-title class="header__title" size="large">{{ getTruncatedText(selectedRecipeList[0].recipe.label, 5) }}</ion-title>
        </ion-col>
        <ion-col>
          <ion-buttons class="header__btns ion-float-right" size="small"><ion-icon name="bookmark-outline" size="large"></ion-icon></ion-buttons>
          <ion-buttons class="header__btns ion-float-right" size="small"><ion-icon name="share-outline" size="large"></ion-icon></ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="selectedRecipeList">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="recipe__info">
        <img class="recipe__img" src="{{ selectedRecipeList[0].recipe.image }}" alt="{{ selectedRecipeList[0].recipe.label }}">
        <h2 class="recipe__title">{{ getTruncatedText(selectedRecipeList[0].recipe.label, 5) }}</h2>
        <div class="recipe__rating">
          <ion-icon name="star" size="large"></ion-icon>
          <ion-icon name="star" size="large"></ion-icon>
          <ion-icon name="star" size="large"></ion-icon>
          <ion-icon name="star" size="large"></ion-icon>
          <ion-icon name="star" size="large"></ion-icon>
        </div>
        <div class="recipe__sub-info_container">
          <div class="recipe__sub-info">
            <ion-icon name="time" size="large"></ion-icon>
            <ion-label *ngIf="selectedRecipeList[0].recipe.totalTime !=0">{{selectedRecipeList[0].recipe.totaltime}} hr</ion-label>
            <ion-label *ngIf="selectedRecipeList[0].recipe.totalTime ==0"> less than 1 hr </ion-label>
          </div>
          <div class="recipe__sub-info">
            <ion-icon name="flame" size="large"></ion-icon>
            <ion-label> {{ selectedRecipeList[0].recipe.calories | number:'1.0-0' }} Kcal</ion-label>
          </div>
          
          <div class="recipe__sub-info">
            <ion-icon name="people" size="large"></ion-icon>
            <ion-label>{{selectedRecipeList[0].recipe.yield}} Servings</ion-label>
          </div>
        </div>

        <ion-label>For Mediterranean diet <br/>
          No chicken allergens.</ion-label>

        <br><br>
        <ion-label color="warning">Cautions: </ion-label>
        <ion-label *ngFor="let result of selectedRecipeList[0].recipe.cautions">{{result}}   </ion-label>
        <br><br>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-segment value="ingredients" mode="md" (ionChange)="segmentChanged($event)" [(ngModel)]="selectedSegment">
    <ion-segment-button value="ingredients">
      <ion-label>Ingredients</ion-label>
    </ion-segment-button>
    <ion-segment-button value="nutrition_facts">
      <ion-label>Nutrition Facts</ion-label>
    </ion-segment-button>
  </ion-segment>
  <section *ngIf="selectedSegment == 'ingredients'">
    <ion-list>
      <ion-item text-wrap *ngFor="let list of selectedRecipeList[0].recipe.ingredientLines; let i=index;">
        <ion-checkbox labelPlacement="end" justify="start">{{list}}</ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-button class="recipe__process-btn" size="large"  (click)="segmentProcess()">
      <ion-icon slot="icon-only" name="restaurant"></ion-icon>
    </ion-button>
  </section>

  <section *ngIf="selectedSegment == 'nutrition_facts'">
    <ion-list>
      <ion-item text-wrap *ngFor="let digest of selectedRecipeList[0].recipe.digest; let i=index;">
        <ng-container *ngIf="digest.total != 0">
          <ion-label color="success">{{digest.tag}}  </ion-label>
          <ion-label>{{digest.label}}  </ion-label>
          <ion-label>{{digest.total | number: '1.0-0'}}  {{  digest.unit }}</ion-label>
        </ng-container>
          
      </ion-item>
    </ion-list>

    <ion-button class="recipe__finish-btn" size="large" (click)="addToMyMealPlan()">
      Add To My Meal Plan
    </ion-button>
  </section>

</ion-content>
