<ion-content [fullscreen]="true" class="login">

  <ion-grid class="container">
    <ion-row>
      <ion-col size="0" size-md="5">
        <ion-img src="../../../assets/utilities/bg.jpg"></ion-img>
      </ion-col>
      <ion-col size="12" size-md="7" class="right-col">
        <div class="login-section" *ngIf="login">
          <ion-grid>
            <ion-row>
              <ion-col size="1" size-md="3"></ion-col>
              <ion-col size="10" size-md="6">
                <h1 class="logo">Recipal</h1>
                <form action="" method="post" class="login-form" [formGroup]="form">
                  <ion-item class="input-field" [button]="true" detail="false" mode='md' lines="none">
                    <ion-icon name="person-outline" slot="start" size="medium"></ion-icon>
                    <ion-input placeholder="Email" type="email" formControlName="email"></ion-input>
                  </ion-item>
                  <ion-label color="danger" *ngIf="form.get('email').touched && form.get('email').hasError('email')">Email is invalid</ion-label>
                  <ion-label color="danger" *ngIf="form.get('email').touched && form.get('email').hasError('required')">Email is required</ion-label>

                  <ion-item class="input-field" [button]="true" detail="false" mode='md' lines="none">
                    <ion-icon name="person-outline" slot="start" size="medium"></ion-icon>
                    <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
                    <ion-icon name="{{ isPassword ? 'eye-outline' : 'eye-off-outline' }}" slot="end" (click)="togglePassword()"></ion-icon>
                  </ion-item>
                  <ion-label color="danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">Password is required</ion-label>
                  
                  <br>
                  <ion-button class="login__forgotPassword" fill="clear" [disabled]="!form.get('email').valid">Forgot Password?</ion-button>
                  <br><br>
                  <ion-button shape="round" (click)="homepage()" [disabled]="!form.valid" size="large">Login</ion-button>
                </form>
                <!-- bottom details -->
                <ion-grid class="other-grid">
                  <h2 class="ion-text-center">Or</h2>
                  <ion-row>
                    <ion-col size="12" size-md="6">
                      <ion-button expand="full" fill="outline" shape="round">
                        <ion-icon name="logo-google"></ion-icon>Google Account</ion-button> 
                    </ion-col>
                    <ion-col size="12" size-md="6">
                      <ion-button expand="full" fill="outline" shape="round">
                        <ion-icon name="mail"></ion-icon> Email</ion-button>
                    </ion-col>
                      
                  </ion-row>
                  <p class="ion-text-center">Don't have an account? <a (click)="clickSignup()">Sign up</a></p>
                </ion-grid>
              </ion-col>
              <ion-col size="1" size-md="3"></ion-col>
            </ion-row>
          </ion-grid>
          
          
          
        </div>
        <section class="signup-section" *ngIf="signup">
          <ion-grid>
            <ion-row>
              <ion-col size="1" size-md="3"></ion-col>
              <ion-col size="10" size-md="6">
                <h1 class="signup-header">Create an account and start your healthy journey!</h1>
                <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="userSignUp()">
                  <ion-item class="input-field" [button]="true" detail="false" mode='md' lines="none">
                    <ion-icon name="person-outline" slot="start" size="medium"></ion-icon>
                    <ion-input placeholder="Name" name="name" formControlName="name" tabindex="1"></ion-input>
                  </ion-item>
                  <ion-note *ngFor="let error of errorMessages.name" color="danger">
                    <ng-container *ngIf="name.hasError(error.type) &&  (name.dirty || name.touched)">
                      {{error.message}} 
                    </ng-container>
                  </ion-note><br>
                  <ion-item class="input-field" [button]="true" detail="false" mode='md' lines="none">
                    <ion-icon name="mail-outline" slot="start" size="medium"></ion-icon>
                    <ion-input placeholder="Email" name="email" type="email" formControlName="email" tabindex="2"></ion-input>
                  </ion-item>
                  <ion-note *ngFor="let error of errorMessages.email" color="danger">
                    <ng-container *ngIf="email.hasError(error.type) &&  (email.dirty || email.touched)">
                      {{error.message}} 
                    </ng-container>
                  </ion-note><br>
                  <ion-item class="input-field" [button]="true" detail="false" mode='md' lines="none">
                    <ion-icon name="lock-closed-outline" slot="start" size="medium"></ion-icon>
                    <ion-input type="{{ isPassword ? 'text' : 'password' }}" placeholder="Password" name="pwd" formControlName="pwd" tabindex="3"></ion-input>
                    <ion-icon name="{{ isPassword ? 'eye-outline' : 'eye-off-outline' }}" slot="end" (click)="togglePassword()"></ion-icon>
                  </ion-item>
                  <ion-note *ngFor="let error of errorMessages.pwd" color="danger">
                    <ng-container *ngIf="pwd.hasError(error.type) &&  (pwd.dirty || pwd.touched)">
                      {{error.message}}
                    </ng-container>
                  </ion-note><br>
                  <ion-item class="input-field" [button]="true" detail="false" mode='md' lines="none">
                    <ion-icon name="lock-closed-outline" slot="start" size="medium"></ion-icon>
                    <ion-input type="password" placeholder="Confirm Password" name="conpwd" formControlName="conpwd" tabindex="4"></ion-input>
                  </ion-item>
                  <ion-note *ngFor="let error of errorMessages.conpwd" color="danger">
                    <ng-container *ngIf="conpwd.hasError(error.type) &&  (conpwd.dirty || conpwd.touched)">
                      {{error.message}} 
                    </ng-container>
                    <ng-container *ngIf="signupForm.hasError('passwordMismatch','conpwd')">
                      Passwords do not match
                    </ng-container>
                  </ion-note>
                  
                  <br><br><br>
                  <input type="radio" id="tnc-radio">
                  <label for="tnc-radio">I agree with Terms & Conditions</label>
                  <br><br>
                  <ion-button shape="round" type="submit">Sign up</ion-button>
                  <br><br>
                  <p class="ion-text-center">Already have an account? <a (click)="clickLogin()">Login</a></p>
                </form>
              </ion-col>
              <ion-col size="1" size-md="3"></ion-col>
            </ion-row>
          </ion-grid>


        </section>
      </ion-col >
    </ion-row>
  </ion-grid>
  
</ion-content>

