*{
    margin: 0;
    padding: 0;
}
ion-content{
    section{
        opacity: 1;
        -webkit-animation: fadein 2s linear forwards;
    }
    @keyframes fadein {
        0% { opacity: 0; }
        50% { opacity: 1; }
    }
}


.logo{
    font-size: 60px;
}
.input-field::part(native){
    background-color: #F8F6F2;
    border-radius: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px 15px 5px 15px;
    margin: 5px;
    width: 95%;
}
.login-form{
    padding: 50px 0 50px 0;
}
ion-grid{
    padding: 50px;
    text-align: center;
}

