*{
    margin: 0;
    padding: 0;
}
ion-content{
    height: 100vh;
    text-align: center;
    section{
        opacity: 1;
        -webkit-animation: fadein 2s linear forwards;
        animation: fadein 2s linear forwards;
    }
    @keyframes fadein {
        0% { opacity: 0; }
        50% { opacity: 1; }
    }
    ion-img{
        object-fit: cover;
        height: 100%;
    }
}


.logo{
    font-size: 60px;
    font-weight: 700;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.other-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    height: 30vh;
    ion-row{
        width: 100%;
    }
    ion-col{
        padding: 10px;
    }

}
ion-input{
    padding-left: 30px !important;
}
.input-field::part(native){
    background-color: #F8F6F2;
    border-radius: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px 15px 5px 15px;
    border: none;
    margin: 10px 0 10px 0;
}
.login-form{
    padding: 50px 0 50px 0;
}
.login-form{
    margin: auto;
    height: 50vh;
}

.login__forgotPassword{
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 1rem;
}


.signup-header{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-form{
    height: 80vh;
}