<ion-content [fullscreen]="true">
  <div class="header">
    <ion-button class="header__back-btn" fill="clear" size="small" (click)="goHome()">
      <ion-icon name="chevron-back-circle" size="large"></ion-icon>
    </ion-button>
    <ion-label class="header__title">Recommend me a recipe</ion-label>
  </div>

  <img class="recipe__logo" src="./assets/utilities/recipe.png" alt="Recipe Logo">


  <div class="recipe__parameters">
    <ion-label class="recipe__parameter-label">What’s your Diet?</ion-label>
    <div class="recipe__parameter-input">
      <img class="recipe__paremeter-icon" src="./assets/icon/diet-icon.png" alt="Diet Icon">
      <ion-select justify="end" aria-label="diet" value="none">
        <ion-select-option value="balanced">Balanced</ion-select-option>
        <ion-select-option value="high-fiber">High-fiber</ion-select-option>
        <ion-select-option value="high-protein">High-protein</ion-select-option>
        <ion-select-option value="low-carb">Low-carb</ion-select-option>
        <ion-select-option value="low-fat">Low-fat</ion-select-option>
        <ion-select-option value="low-sodium">Low-sodium</ion-select-option>
        <ion-select-option value="none">None</ion-select-option>
      </ion-select>
    </div>

    <ion-label class="recipe__parameter-label">Do you have any Allergies?</ion-label>
    <div class="recipe__parameter-input">
      <img class="recipe__paremeter-icon" src="./assets/icon/allergy-icon.png" alt="Allergy Icon">
      <ion-select justify="end" aria-label="allergies" placeholder="Add all that applies" toggleIcon="add" [multiple]="true" (ionChange)="getAllergens($event)">
        <ion-select-option value="alcohol-free">Alcohol</ion-select-option>
        <ion-select-option value="celery-free">Celery</ion-select-option>
        <ion-select-option value="crustacean-free">Crustacean</ion-select-option>
        <ion-select-option value="dairy-free">Dairy</ion-select-option>
        <ion-select-option value="egg-free">Egg</ion-select-option>
        <ion-select-option value="fish-free">Fish</ion-select-option>
        <ion-select-option value="fodmap-Free">FODMAP</ion-select-option>
        <ion-select-option value="gluten-free">Gluten</ion-select-option>
        <ion-select-option value="lupine-free">Lupine</ion-select-option>
        <ion-select-option value="mustard-free">Mustard</ion-select-option>
        <ion-select-option value="mollusk-free">Mollusk</ion-select-option>
        <ion-select-option value="peanut-free">Peanut</ion-select-option>
        <ion-select-option value="pork-free">Pork</ion-select-option>
        <ion-select-option value="red-meat-free">Red-meat</ion-select-option>
        <ion-select-option value="sesame-free">Sesame</ion-select-option>
        <ion-select-option value="shellfish-free">Shellfish</ion-select-option>
        <ion-select-option value="soy-free">Soy</ion-select-option>
        <ion-select-option value="sulfite-free">Sulfite</ion-select-option>
        <ion-select-option value="tree-nut-free">Tree-Nut</ion-select-option>
        <ion-select-option value="wheat-free">Wheat</ion-select-option>
      </ion-select>
    </div>

    <ion-label class="recipe__parameter-label">How many calories?</ion-label>
    <div class="recipe__parameter-input">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto"><ion-icon class="recipe__parameter-calorie-icon" name="flame-outline" size="large"></ion-icon></ion-col>
          <ion-col><ion-input type="floating" aria-label="Calorie Input" clear-input="true" inputmode="decimal" type="number" enterkeyhint="done" value="" label="Kcal" labelPlacement="end"></ion-input></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-button class="recipe__generate-btn" expand="block" size="large" (click)="generateRecipe()">
    Generate Recipe
  </ion-button>
</ion-content>
