.header {
    display: inline-block;
    text-align: center;
    margin: 1rem;
    padding-top: 1.5rem;
    padding-right: 2rem;
}

.header__back-btn {
    margin-right: 1rem;
    color: #7A6341;
}

.header__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 0;
}

.recipe__logo {
    display: block;
    margin: 1.5rem auto;
    width: 50%;
}

.recipe__parameters {
    margin: 2rem;
}

.recipe__parameter-label {
    font-size: 1.2rem;
    font-weight: 500;
}

.recipe__parameter-input {
    margin-bottom: 1rem;
    background-color: #F8F6F2;
    padding: 0 1rem 0 1rem;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.recipe__paremeter-icon {
    float:left;
    height: 2.5rem;
    margin-right: 1rem;
}

ion-grid{
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-top: 0;
    padding-bottom: 0;
}

ion-col {
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.recipe__parameter-calorie-icon {
    float: left;
    color: #858584;
    padding-right: 1rem;
}

.recipe__generate-btn {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    margin-left: 2rem;
    margin-right: 2rem;
}