<ion-content [fullscreen]="true">
  <div class="header">
    <ion-button class="header__back-btn" fill="clear" size="small" (click)="goHome()">
      <ion-icon name="chevron-back-circle" size="large"></ion-icon>
    </ion-button>
    <ion-label class="header__title">Recommend me a recipe</ion-label>
  </div>

  <img class="recipe__logo" src="./assets/utilities/recipe.png" alt="Recipe Logo">


  <div class="recipe__parameters">
    <ion-label class="recipe__parameter-label">What’s your Diet?</ion-label>
    <div class="recipe__parameter-input">
      <img class="recipe__paremeter-icon" src="./assets/icon/diet-icon.png" alt="Diet Icon">
      <ion-select justify="end" aria-label="diet" interface="popover" value="none">
        <ion-select-option value="low_carb">Low-carb</ion-select-option>
        <ion-select-option value="mediterranean">Mediterranean</ion-select-option>
        <ion-select-option value="paleo">Paleo</ion-select-option>
        <ion-select-option value="vegan">Vegan</ion-select-option>
        <ion-select-option value="gluten_free">Gluten-free</ion-select-option>
        <ion-select-option value="none">None</ion-select-option>
      </ion-select>
    </div>

    <ion-label class="recipe__parameter-label">Do you have any Allergies?</ion-label>
    <div class="recipe__parameter-input">
      <img class="recipe__paremeter-icon" src="./assets/icon/allergy-icon.png" alt="Allergy Icon">
      <ion-select justify="end" aria-label="allergies" interface="popover" placeholder="Add all that applies" toggleIcon="add" [multiple]="true">
        <ion-select-option value="egg">Eggs</ion-select-option>
        <ion-select-option value="milk_and_Dairy">Milk and Dairy</ion-select-option>
        <ion-select-option value="peanuts">Peanuts</ion-select-option>
        <ion-select-option value="tree_nuts">Tree nuts</ion-select-option>
        <ion-select-option value="fish">Fish</ion-select-option>
        <ion-select-option value="shellfish">Shellfish</ion-select-option>
        <ion-select-option value="wheat">Wheat</ion-select-option>
        <ion-select-option value="soy">Soy</ion-select-option>
      </ion-select>
    </div>

    <ion-label class="recipe__parameter-label">How much is your budget?</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="recipe__parameter-input">
            <ion-select justify="end" aria-label="budget" interface="popover" value="0">
              <ion-select-option value="0">₱0</ion-select-option>
              <ion-select-option value="50">₱50</ion-select-option>
              <ion-select-option value="150">₱150</ion-select-option>
              <ion-select-option value="250">₱250</ion-select-option>
              <ion-select-option value="350">₱350</ion-select-option>
              <ion-select-option value="450">₱450</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
        <ion-col size="auto">
          <ion-icon name="arrow-forward-outline" size="large"></ion-icon>
        </ion-col>
        <ion-col>
          <div class="recipe__parameter-input">
            <ion-select justify="end" aria-label="budget" interface="popover" value="0">
              <ion-select-option value="0">₱0</ion-select-option>
              <ion-select-option value="50">₱50</ion-select-option>
              <ion-select-option value="150">₱150</ion-select-option>
              <ion-select-option value="250">₱250</ion-select-option>
              <ion-select-option value="350">₱350</ion-select-option>
              <ion-select-option value="450">₱450</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-button class="recipe__generate-btn" expand="block" size="large" (click)="generateRecipe()">
    Generate Recipe
  </ion-button>
</ion-content>
