<!-- food-search.component.html
<ion-header>
  <ion-toolbar>
    <ion-title>
      Edamam Food Search
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-searchbar [(ngModel)]="foodParams.query" (ionChange)="searchFood()"></ion-searchbar>

  <ion-list *ngIf="searchResults.length > 0">
    <ion-item *ngFor="let result of searchResults">
      <ion-label slot="start">{{ result.food.label }}</ion-label>
      <ion-label slot="end">{{ result.food.nutrients.ENERC_KCAL}} cal</ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="searchResults.length === 0 && foodParams.query.trim() !== ''">
    <ion-label>
      No results found.
    </ion-label>
  </ion-item>
</ion-content> -->




<ion-header>
  <ion-toolbar>
    <div class="header-div">
      <ion-searchbar placeholder="Search in notes..."></ion-searchbar>
      <ion-fab-button color="primary">
        +
      </ion-fab-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div class="notes-container">
    <ion-card class="notes-card" >
      <ion-card-header>
        <div class="horizontal-buttons">
          <ion-fab-button size="small" color="primary">
            <ion-icon name="create-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button size="small" color="primary">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button size="small" color="primary">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-fab-button>
        </div>
        <ion-input  placeholder="Note Title"></ion-input>
      </ion-card-header>
      <ion-card-content>
        <ion-textarea placeholder="Enter your note here..."></ion-textarea>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>