*{
    margin: 0;
    padding: 0;
}

.goal-section {
    .goal-main-grid{
        text-align: center;
        padding: 30px;
        h2{
            font-size: 5vmin;
        }
    }
}

.goal-header-grid{
    padding: 50px;
    h1{
        font-size: 8vmin;
        font-weight: 600;
    }
    ion-icon::part(native){
        font-size: 100px;
    }
}

.goal-acc-gp{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 60vh;

    .goal-cat-acc{
        ion-icon{
            font-size: 30px;
            padding: 0 20px 0 10px;
        }


        ion-item{
            --border-radius: 20px;
            --padding-top: 8vmin;
            --padding-bottom: 8vmin;
            --padding-left: 8vmin;
            --padding-right: 8vmin;
            --background: white;
        }
        .ion-padding{
            border-radius: 0 0 20px 20px;
            background-color: white;
            padding: 10px;
        }
    }
    
}



// BMI
.bmi-h1{
    background-color: #5D3D3D;
    color: aliceblue;
    border-radius: 10px;
    font-size: 6vmin;
}
.bmi-grid{
    height: 60vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    ion-row:nth-child(1) ion-col{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 8vh;
    }

    ion-label{
        font-size: 5vmin;
    }


}

.meal-content{
    height: 78vh;
    overflow-y: scroll;

    .meal-segment-cont{
        margin: 15px 0 85px 0;
        section{
            padding: 20px;
            text-align: center;
            h1{
                font-size: 30px;
            }
            p{
                padding: 10px;
            }
        } 
        ion-col:nth-child(2) ion-select{
            background-color: rgb(196, 174, 219);
        }
        ion-grid{
            margin: 0 50px 0 50px;
        }
        ion-row{
            margin: 20px 0 20px 0;
        }
        h1{
            text-align: center;
        }
    }
}



.step1-cat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    ion-checkbox{
        padding: 10px;
        border: #9e8888 solid 2px;
        border-radius: 40px;
        margin: 5px;
        width: 40%;
    }
}