<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="goal-header">SET A GOAL</h1>
      </ion-col>
    </ion-row>
    <!-- for goal body -->
    <ion-row class="goal-row">
      <ion-col>
        <ion-accordion-group expand="inset">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <h2 class="ion-text-center">Body Mass Index</h2>
              <ion-icon name="barbell-outline" slot="end"></ion-icon>
            </ion-item>
            <div class="ion-padding" slot="content">First Content</div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <h2 class="ion-text-center">Meal Plan</h2>
              <ion-icon name="fast-food-outline" slot="end"></ion-icon>
            </ion-item>
            <div class="ion-padding" slot="content">Second Content</div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <h2 class="ion-text-center">Nutrition</h2>
              <ion-icon name="body-outline" slot="end"></ion-icon>
            </ion-item>
            <div class="ion-padding" slot="content">Third Content</div>
          </ion-accordion>
        </ion-accordion-group>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>