<ion-content>
  <section class="goal-section" *ngIf="goalPage">

    <ion-grid class="goal-header-grid">
      <ion-row class="ion-align-items-center">
        <ion-col size="2" ><ion-icon name="chevron-back-outline" size="large"></ion-icon></ion-col>
        <ion-col size="10"><h1>Set a goal</h1></ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid class="goal-main-grid">
      <!-- for goal body -->
      <ion-row>
        <ion-col>
          <ion-accordion-group expand="inset" class="goal-acc-gp">
            <ion-accordion value="first" class="goal-cat-acc">
              <ion-item slot="header">
                <h2 class="ion-text-center">Body Mass Index</h2>
                <ion-icon name="barbell-outline" slot="start"></ion-icon>
              </ion-item>
              <div class="ion-padding" slot="content">
                <p>Calculate your BMI with your height and weight. See whether you’re overweight, underweight, or normal. Set a target BMI that you want to achieve.</p>
                <br>
                <ion-button shape="round" id="bmi-btn">Start</ion-button>
              </div>
            </ion-accordion>
            <ion-accordion value="second" class="goal-cat-acc">
              <ion-item slot="header">
                <h2 class="ion-text-center">Meal Plan</h2>
                <ion-icon name="fast-food-outline" slot="start"></ion-icon>
              </ion-item>
              <div class="ion-padding" slot="content">
                <p>Meal Plan description</p>
                <br>
                <ion-button shape="round" (click)="clickMealPage()">Start</ion-button>
              </div>
            </ion-accordion>
            <ion-accordion value="third" class="goal-cat-acc">
              <ion-item slot="header">
                <h2 class="ion-text-center">Nutrition</h2>
                <ion-icon name="body-outline" slot="start"></ion-icon>
              </ion-item>
              <div class="ion-padding" slot="content">
                <p>Nutrition description</p>
                <br>
                <ion-button shape="round" (click)="clickNutritionPage()">Start</ion-button>
              </div>
            </ion-accordion>
          </ion-accordion-group>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>


  <!-- BMI -->
  <section class="bmi-section" *ngIf="bmiPage">
    <ion-grid class="goal-header-grid">
      <ion-row class="ion-align-items-center">
        <ion-col size="2" ><ion-icon name="chevron-back-outline" size="large"></ion-icon></ion-col>
        <ion-col size="10"><h1>Body mass index</h1></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="ion-text-center bmi-grid" *ngIf="bmiStats">
      <ion-row>
        <ion-col>
          <h1 class="bmi-h1">Your current BMI</h1>
          <ion-row class="stats-item">
            <ion-col size="6"><ion-label>{{bmiStats.weight}} kg</ion-label></ion-col>
            <ion-col size="6"><ion-label >Weight (kg)</ion-label></ion-col>
          </ion-row>

          <ion-row class="stats-item">
            <ion-col size="6"><ion-label>{{bmiStats.height}} cm</ion-label></ion-col>
            <ion-col size="6"><ion-label >Height (cm)</ion-label></ion-col>
          </ion-row>

          <ion-row class="stats-item ">
            <ion-col size="6"><ion-label>{{bmiStats.bmi}}</ion-label></ion-col>
            <ion-col size="6"><ion-label >Your BMI</ion-label></ion-col>
          </ion-row>

        </ion-col>
      </ion-row>

      <!-- stats row -->
      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <section>
            <h1 class="bmi-h1">You are:</h1>
            <ion-icon name="ellipse" color="{{ isNormal ? 'success' : 'danger' }}"></ion-icon>
            <ion-label>{{bmiStats.status}}</ion-label>
          </section>
          <br>
          <section>
            <h1 class="bmi-h1">Your target Weight</h1>
            <ion-label>{{bmiStats.target}} kg</ion-label>
          </section>


          
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
   <!-- BMI -->

  <!-- Meal plan -->
  <section class="meal-section" *ngIf="mealPage">
    <ion-grid class="goal-header-grid">
      <ion-row class="ion-align-items-center">
        <ion-col size="2" ><ion-icon name="chevron-back-outline" size="large"></ion-icon></ion-col>
        <ion-col size="10"><h1>Meal Plan</h1></ion-col>
      </ion-row>
    </ion-grid>

    <div class="meal-content">
      <!-- Placeholder for displaying the selected page content -->
      <div class="meal-segment-cont">
        <section>
          <h1>Set your meals per day</h1>
          <p>This will let us know what to recommend based on your meal preferences.</p>
        </section>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="field-col">
              <ion-select label="Meals included" aria-label="dishTypes" interface="alert" placeholder="Add all that applies" toggleIcon="add" [multiple]="true" justify="space-between" (ionChange)="addMealInclusion($event)">
                <ion-select-option value="breakfast">Breakfast</ion-select-option>
                <ion-select-option value="lunch">Lunch</ion-select-option>
                <ion-select-option value="dinner">Dinner</ion-select-option>
                <ion-select-option value="snack">Snack</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="meal-segment-cont">
        <section>
          <h1>Select preferred meals</h1>
          <p>This will let us know what's your favorite meals to include.</p>
        </section>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <ion-select [disabled]="!keyExists('breakfast')" label="Breakfast" aria-label="dishTypes" interface="alert" placeholder="Add all that applies" toggleIcon="add" [multiple]="true" justify="space-between" (ionChange)="addBreakfast($event)">
                <ion-select-option value="biscuits and cookies">Biscuits and Cookies</ion-select-option>
                <ion-select-option value="bread">Bread</ion-select-option>
                <ion-select-option value="cereals">Cereals</ion-select-option>
                <ion-select-option value="drinks">Drinks</ion-select-option>
                <ion-select-option value="egg">Egg</ion-select-option>
                <ion-select-option value="ice cream and custard">Ice Cream and Custard</ion-select-option>
                <ion-select-option value="pancake">Pancake</ion-select-option>
                <ion-select-option value="pasta">Pasta</ion-select-option>
                <ion-select-option value="pastry">Pastry</ion-select-option>
                <ion-select-option value="pies and tarts">Pies and Tarts</ion-select-option>
                <ion-select-option value="salad">Salad</ion-select-option>
                <ion-select-option value="sandwiches">Sandwiches</ion-select-option>
                <ion-select-option value="soup">Soup</ion-select-option>
                <ion-select-option value="special occasions">Special Occasions</ion-select-option>
                <ion-select-option value="sweets">Sweets</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <ion-select [disabled]="!keyExists('lunch')" label="Lunch" aria-label="dishTypes" interface="alert" placeholder="Add all that applies" toggleIcon="add" [multiple]="true" justify="space-between" (ionChange)="addLunch($event)">
                <ion-select-option value="alcohol cocktail">Alcohol Cocktail</ion-select-option>
                <ion-select-option value="condiments and sauces">Condiments and Sauces</ion-select-option>
                <ion-select-option value="desserts">Desserts</ion-select-option>
                <ion-select-option value="drinks">Drinks</ion-select-option>
                <ion-select-option value="egg">Egg</ion-select-option>
                <ion-select-option value="main course">Main Course</ion-select-option>
                <ion-select-option value="pasta">Pasta</ion-select-option>
                <ion-select-option value="pastry">Pastry</ion-select-option>
                <ion-select-option value="pies and tarts">Pies and Tarts</ion-select-option>
                <ion-select-option value="pizza">Pizza</ion-select-option>
                <ion-select-option value="preps">Preps</ion-select-option>
                <ion-select-option value="preserve">Preserve</ion-select-option>
                <ion-select-option value="salad">Salad</ion-select-option>
                <ion-select-option value="seafood">Seafood</ion-select-option>
                <ion-select-option value="side dish">Side Dish</ion-select-option>
                <ion-select-option value="soup">Soup</ion-select-option>
                <ion-select-option value="special occasions">Special Occasions</ion-select-option>
                <ion-select-option value="starter">Starter</ion-select-option>
                <ion-select-option value="sweets">Sweets</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <ion-select [disabled]="!keyExists('dinner')" label="Dinner" aria-label="dishTypes" interface="alert" placeholder="Add all that applies" toggleIcon="add" [multiple]="true" justify="space-between" (ionChange)="addDinner($event)">
                <ion-select-option value="alcohol cocktail">Alcohol Cocktail</ion-select-option>
                <ion-select-option value="bread">Bread</ion-select-option>
                <ion-select-option value="condiments and sauces">Condiments and Sauces</ion-select-option>
                <ion-select-option value="desserts">Desserts</ion-select-option>
                <ion-select-option value="drinks">Drinks</ion-select-option>
                <ion-select-option value="egg">Egg</ion-select-option>
                <ion-select-option value="ice cream and custard">Ice Cream and Custard</ion-select-option>
                <ion-select-option value="main course">Main Course</ion-select-option>
                <ion-select-option value="pasta">Pasta</ion-select-option>
                <ion-select-option value="pastry">Pastry</ion-select-option>
                <ion-select-option value="pies and tarts">Pies and Tarts</ion-select-option>
                <ion-select-option value="pizza">Pizza</ion-select-option>
                <ion-select-option value="preps">Preps</ion-select-option>
                <ion-select-option value="preserve">Preserve</ion-select-option>
                <ion-select-option value="salad">Salad</ion-select-option>
                <ion-select-option value="sandwiches">Sandwiches</ion-select-option>
                <ion-select-option value="seafood">Seafood</ion-select-option>
                <ion-select-option value="side dish">Side Dish</ion-select-option>
                <ion-select-option value="soup">Soup</ion-select-option>
                <ion-select-option value="special occasions">Special Occasions</ion-select-option>
                <ion-select-option value="starter">Starter</ion-select-option>
                <ion-select-option value="sweets">Sweets</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="meal-segment-cont">
        <section>
          <h1>Set filters for all meals</h1>
          <p>This will let us know what are you allergic to, nutrients you might need to balance, etc.</p>
        </section>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <ion-select label="Ingredients Exclusion" aria-label="dishTypes" interface="alert" placeholder="Add all that applies" toggleIcon="add" [multiple]="true" justify="space-between">
                <ion-select-option value="alcohol-free">Alcohol</ion-select-option>
                <ion-select-option value="celery-free">Celery</ion-select-option>
                <ion-select-option value="crustacean-free">Crustacean</ion-select-option>
                <ion-select-option value="dairy-free">Dairy</ion-select-option>
                <ion-select-option value="egg-free">Egg</ion-select-option>
                <ion-select-option value="fish-free">Fish</ion-select-option>
                <ion-select-option value="fodmap-Free">FODMAP</ion-select-option>
                <ion-select-option value="gluten-free">Gluten</ion-select-option>
                <ion-select-option value="lupine-free">Lupine</ion-select-option>
                <ion-select-option value="mustard-free">Mustard</ion-select-option>
                <ion-select-option value="mollusk-free">Mollusk</ion-select-option>
                <ion-select-option value="peanut-free">Peanut</ion-select-option>
                <ion-select-option value="pork-free">Pork</ion-select-option>
                <ion-select-option value="red-meat-free">Red-meat</ion-select-option>
                <ion-select-option value="sesame-free">Sesame</ion-select-option>
                <ion-select-option value="shellfish-free">Shellfish</ion-select-option>
                <ion-select-option value="soy-free">Soy</ion-select-option>
                <ion-select-option value="sulfite-free">Sulfite</ion-select-option>
                <ion-select-option value="tree-nut-free">Tree-Nut</ion-select-option>
                <ion-select-option value="wheat-free">Wheat</ion-select-option>
              </ion-select>
              
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <ion-select label="Diet" aria-label="dishTypes" interface="alert" placeholder="Add all that applies" toggleIcon="add" [multiple]="true" justify="space-between">
                <ion-select-option value="breakfast">Balanced</ion-select-option>
                <ion-select-option value="lunch">High-fiber</ion-select-option>
                <ion-select-option value="dinner">High-protein</ion-select-option>
                <ion-select-option value="snack">Low-carb</ion-select-option>
                <ion-select-option value="teatime">Low-fat</ion-select-option>
                <ion-select-option value="teatime">Low-sodium</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <ion-select label="Other preferences" aria-label="dishTypes" interface="alert" placeholder="Add all that applies" toggleIcon="add" [multiple]="true" justify="space-between">
              
                <ion-select-option value="alcohol-cocktail">Alcohol-Cocktail</ion-select-option>
                <ion-select-option value="DASH">DASH</ion-select-option>
                <ion-select-option value="immuno-supportive">Immuno-Supportive</ion-select-option>
                <ion-select-option value="keto-friendly">Keto-Friendly</ion-select-option>
                <ion-select-option value="kidney-friendly">Kidney-Friendly</ion-select-option>
                <ion-select-option value="kosher">Kosher</ion-select-option>
                <ion-select-option value="low-potassium">Low Potassium</ion-select-option>
                <ion-select-option value="low-sugar">Low Sugar</ion-select-option>
                <ion-select-option value="No-oil-added">No oil added</ion-select-option>
                <ion-select-option value="Mediterranean">Mediterranean</ion-select-option>
                <ion-select-option value="paleo">Paleo</ion-select-option>
                <ion-select-option value="pecatarian">Pescatarian</ion-select-option>
                <ion-select-option value="sugar-conscious">Sugar-Conscious</ion-select-option>
                <ion-select-option value="vegan">Vegan</ion-select-option>
                <ion-select-option value="vegetarian">Vegetarian</ion-select-option>
              </ion-select>
              
            </ion-col>
          </ion-row>


          

          
        </ion-grid>
      </div>
    </div>
    <ion-button color="primary" expand="block" (click)="mealPlanner()">Plan my food now!</ion-button>
  </section>
  <!-- Meal plan -->
  
</ion-content>



<!-- MODALS -->
<!-- modal -->
<!-- <ion-modal trigger="bmi-btn">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Let's calculate your BMI!</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Weight(kg)"
          labelPlacement="stacked"
          type="text"
          placeholder="kg"
          [(ngModel)]="bmiStats.weight"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Height(cm)"
          labelPlacement="stacked"
          type="text"
          placeholder="cm"
          [(ngModel)]="bmiStats.height"
        ></ion-input>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal> -->
<!-- modal -->





