<ion-content>
  <ion-grid *ngIf="goalPage">
    <ion-row>
      <ion-col>
        <h1 class="goal-header">SET A GOAL</h1>
      </ion-col>
    </ion-row>
    <!-- for goal body -->
    <ion-row class="goal-row">
      <ion-col>
        <ion-accordion-group expand="inset" class="goal-acc-gp">
          <ion-accordion value="first" class="goal-cat-acc">
            <ion-item slot="header" color="primary">
              <h2 class="ion-text-center">Body Mass Index</h2>
              <ion-icon name="barbell-outline" slot="start"></ion-icon>
            </ion-item>
            <div class="ion-padding" slot="content">
              <p>Calculate your BMI with your height and weight. See whether you’re overweight, underweight, or normal. Set a target BMI that you want to achieve.</p>
              <ion-button shape="round" (click)="clickBmiPage()">Start</ion-button>
            </div>
          </ion-accordion>
          <ion-accordion value="second" class="goal-cat-acc">
            <ion-item slot="header" color="primary">
              <h2 class="ion-text-center">Meal Plan</h2>
              <ion-icon name="fast-food-outline" slot="start"></ion-icon>
            </ion-item>
            <div class="ion-padding" slot="content">
              <p>Meal Plan description</p>
              <ion-button shape="round">Start</ion-button>
            </div>
          </ion-accordion>
          <ion-accordion value="third" class="goal-cat-acc">
            <ion-item slot="header" color="primary">
              <h2 class="ion-text-center">Nutrition</h2>
              <ion-icon name="body-outline" slot="start"></ion-icon>
            </ion-item>
            <div class="ion-padding" slot="content">
              <p>Meal plan description</p>
              <ion-button shape="round">Start</ion-button>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- BMI -->
  <ion-grid *ngIf="bmiPage">
    <ion-row>
      <ion-col>
        <h1>Body Mass Index</h1>
        <ion-label>Your Current BMI</ion-label>
        <ion-item lines="none">
          <ion-label slot="start">124 kg</ion-label>
          <ion-label slot="end">Your weight in kilograms</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label slot="start">124 cm</ion-label>
          <ion-label slot="end">Your height in centimeters</ion-label>
        </ion-item>


        <ion-item lines="none">
          <ion-label slot="start">124 kg/m</ion-label>
          <ion-label slot="end">Your BMI</ion-label>
          
        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>You are:</h1>
        <ion-item>Overweight</ion-item>


        <h1>Your Target BMI</h1>
        <ion-item>85 kg/m</ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>