<ion-content class="home-container" *ngIf="homePage">
    <ion-grid class="header-home-container-grid">
        <ion-row class="ion-align-items-center">
            <ion-col size="12" size-xl="6">
                <section class="header"> 
                    <h1 class="home-header">Good day<br> <ion-label color="primary">Marius!</ion-label></h1><br>
                    <h4>{{ currentTime }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{ currentDate }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Logout</a></h4>
                </section>
            </ion-col>
            <ion-col size="6" size-xl="2">
                <section class="motd-home">
                    <section class="desc-motd-home">
                        <ion-label color="primary" class="h2">Meal of the day</ion-label><br>
                        <ion-label class="h3">Halo-Halo</ion-label><br>
                        <a href="#">How to cook this?</a>
                    </section>
                </section>
            </ion-col>
            <ion-col size="6" size-xl="4" class="img-col">
                <img src="../../../assets/images/halohalo.png" />
            </ion-col>
        </ion-row>
    </ion-grid>
    <br><br>
    <ion-grid class="what-container-grid">
        <ion-row>
            <!-- <ion-col size="12" size-xl="3" class="what-col" class="ion-reorder-xl-first">
                <ion-label class="h2" color="primary">What to eat?</ion-label>
                <section class="what-container">
                    <ion-item class="input-field" [button]="true" detail="false" mode='md' lines="none">
                        <ion-label class="h3-2" slot="start">250 kcal  |  Munggo</ion-label>
                        <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
                    </ion-item>
            
                    <ion-item class="input-field" [button]="true" detail="false" mode='md' lines="none">
                        <ion-label class="h3-2" slot="start">250 kcal  |  Munggo</ion-label>
                        <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
                    </ion-item>
            
                    <ion-item class="input-field" [button]="true" detail="false" mode='md' lines="none">
                        <ion-label class="h3-2" slot="start"><a href="#">See all</a></ion-label>
                        <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
                    </ion-item>
                </section>
            </ion-col> -->
            <ion-col size="12" size-xl="9" class="started-col" class="ion-reorder-xl-last">
                <ion-label class="h2" color="primary">Let's get started!</ion-label>
                <section class="started-card-section-home">  
                    <swiper-container [slidesPerView]="1.3" class="started-swiper swiper-container" #swiperContainer> 
                        <swiper-slide>
                            <section class="started-card" (click)="recommendRecipe()">
                                <div class="blend-container">
                                    <img src="../../../assets/isometric/recommend.png">
                                    <div class="blend-layer"></div>
                                </div><br>
                                <h4>Recommend me a recipe <ion-icon name="arrow-forward-circle" slot="end"></ion-icon></h4>
                            </section>
                        </swiper-slide>
                        <swiper-slide>
                            <section class="started-card" (click)="goal()">
                                <div class="blend-container">
                                    <img src="../../../assets/isometric/goal.png">
                                    <div class="blend-layer"></div>
                                </div><br>
                                <h4>Set a goal <ion-icon name="arrow-forward-circle" slot="end"></ion-icon></h4>
                            </section>
                        </swiper-slide>
                        <swiper-slide>
                            <section class="started-card" (click)="checkprog()">
                                <div class="blend-container">
                                    <img src="../../../assets/isometric/progress.png">
                                    <div class="blend-layer"></div>
                                </div><br>
                                <h4>Check my progress <ion-icon name="arrow-forward-circle" slot="end"></ion-icon></h4>
                            </section>
                        </swiper-slide>
                    </swiper-container>
                </section>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="goBack()">
        <ion-fab-button size="large">
          <ion-icon name="log-out"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>

<ion-content class="intro-container" *ngIf="introPage">
    <swiper-container [slidesPerView]="1" class="started-swiper swiper-container" #swiperContainer> 
        <swiper-slide>
            <div class="blend-container img-div">
                <img src="../../../assets/isometric/recommend/1.png" alt="">
                <div class="blend-layer"></div><br>
            </div>
            <div class="text-div">
                <ion-label class="intro-header" color="primary">Hey there!</ion-label><br><br><br>
                <ion-label class="intro-text">It’s a wise decision that you’re here! Let’s start your healthy and delicious journey!</ion-label>
            </div>
        </swiper-slide>

        <swiper-slide>
            <div class="blend-container img-div">
                <img src="../../../assets/isometric/recommend/2.png" alt="">
                <div class="blend-layer"></div>
            </div>
            <div class="text-div">
                <ion-label class="intro-header" color="primary">Our goal</ion-label><br><br><br>
                <ion-label class="intro-text">To keep you in shape in short period of time. But still eat some Yum-tastic! foods.</ion-label>
            </div>
        </swiper-slide>

        <swiper-slide>
            <div class="blend-container img-div">
                <img src="../../../assets/isometric/recommend/3.png" alt="">
                <div class="blend-layer"></div>
            </div>
            <div class="text-div">
                <ion-label class="intro-header" color="primary">Let's go</ion-label><br>
                <ion-label class="intro-text">Grab those pan and bowls for this Yum-tastic recipes!</ion-label>
            </div>
            <ion-button (click)="start()">Let's start now!</ion-button>
        </swiper-slide>
    </swiper-container>
</ion-content>



