*{
  margin: 0;
  padding: 0;
}

.homepage-cont{
  --padding-start: 50px;
  --padding-end: 50px;
  --padding-top: 50px;

  .header{
    font-size: 50px;
    span{
      font-weight: 700;
    }
  }

  .desc-col{
    text-align: right;
  }


  ion-item::part(native){
    --padding-bottom: 10px;
    --padding-top: 10px;
    --background: #F8F6F2;
    border-radius: 15px;
    margin: 10px 0 10px 0;
  }
}