<ion-content [fullscreen]="true">
    <div class="header__buttons">
        <ion-button class="header__back-btn" size="small" fill="clear" (click)="goBack()"><ion-icon name="chevron-back-outline" size="large"></ion-icon></ion-button>
        <ion-button class="header__save-btn" size="small" fill="clear"><ion-icon name="bookmark-outline" size="large"></ion-icon></ion-button>
    </div>
    <swiper-container [scrollbar]="true" *ngIf="recipeList.length">
        <swiper-slide *ngFor="let result of recipeList; let i=index">
            <ion-card class="recipe-list__card">
                <img class="recipe-list__img" src="{{ result.recipe.image }}" alt="Lomi">
                <ion-card-header>
                    <ion-card-subtitle class="recipe-list__rating">
                        <ion-icon name="star" size="large"></ion-icon>
                        <ion-icon name="star" size="large"></ion-icon>
                        <ion-icon name="star" size="large"></ion-icon>
                        <ion-icon name="star" size="large"></ion-icon>
                        <ion-icon name="star" size="large"></ion-icon>
                    </ion-card-subtitle>
                    <ion-card-title class="recipe-list__title">{{ result.recipe.label }}</ion-card-title>
                </ion-card-header>

                <ion-grid>
                    <ion-row>
                      <ion-col class="recipe-list__sub-info">
                        <ion-icon name="time" size="large"></ion-icon>
                        <p>1h</p>
                      </ion-col>
                      <ion-col class="recipe-list__sub-info">
                        <ion-icon name="flame" size="large"></ion-icon>
                      </ion-col>
                      <ion-col class="recipe-list__sub-info">
                        <ion-icon name="people" size="large"></ion-icon>
                        <p>3 Servings</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                <ion-card-content>
                    <ion-label>For Mediterranean diet <br/>
                        No chicken allergens.</ion-label>
                    <h4 class="recipe-list__price">₱ 100 - ₱ 250</h4>
                </ion-card-content>

                <ion-button class="recipe__cook-btn" horizontal="end" expand="block" size="large" (click)="cookingRecipe(i)">
                    Let’s Cook!
                </ion-button>
            </ion-card>
        </swiper-slide>

        <!-- <swiper-slide>
            <ion-card class="recipe-list__card">
                <img class="recipe-list__img" src="../../../../assets/images/lomi_top-down.png" alt="Lomi">
                <ion-card-header>
                    <ion-card-subtitle class="recipe-list__rating">
                        <ion-icon name="star" size="large"></ion-icon>
                        <ion-icon name="star" size="large"></ion-icon>
                        <ion-icon name="star" size="large"></ion-icon>
                        <ion-icon name="star" size="large"></ion-icon>
                        <ion-icon name="star" size="large"></ion-icon>
                    </ion-card-subtitle>
                    <ion-card-title class="recipe-list__title">Lomi</ion-card-title>
                </ion-card-header>

                <ion-grid>
                    <ion-row>
                      <ion-col class="recipe-list__sub-info">
                        <ion-icon name="time" size="large"></ion-icon>
                        <p>1h</p>
                      </ion-col>
                      <ion-col class="recipe-list__sub-info">
                        <ion-icon name="flame" size="large"></ion-icon>
                        <p>909 Kcal</p>
                      </ion-col>
                      <ion-col class="recipe-list__sub-info">
                        <ion-icon name="people" size="large"></ion-icon>
                        <p>3 Servings</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                <ion-card-content>
                    <ion-label>For Mediterranean diet <br/>
                        No chicken allergens.</ion-label>
                    <h4 class="recipe-list__price">₱ 100 - ₱ 250</h4>
                </ion-card-content>

                <ion-button class="recipe__cook-btn" horizontal="end" expand="block" size="large">
                    Let’s Cook!
                </ion-button>
            </ion-card>
        </swiper-slide>

        <swiper-slide>
            <ion-card class="recipe-list__card">
                <img class="recipe-list__img" src="../../../../assets/images/lomi_top-down.png" alt="Lomi">
                <ion-card-header>
                    <ion-card-subtitle class="recipe-list__rating">
                        <ion-icon name="star" size="large"></ion-icon>
                        <ion-icon name="star" size="large"></ion-icon>
                        <ion-icon name="star" size="large"></ion-icon>
                        <ion-icon name="star" size="large"></ion-icon>
                        <ion-icon name="star" size="large"></ion-icon>
                    </ion-card-subtitle>
                    <ion-card-title class="recipe-list__title">Lomi</ion-card-title>
                </ion-card-header>

                <ion-grid>
                    <ion-row>
                      <ion-col class="recipe-list__sub-info">
                        <ion-icon name="time" size="large"></ion-icon>
                        <p>1h</p>
                      </ion-col>
                      <ion-col class="recipe-list__sub-info">
                        <ion-icon name="flame" size="large"></ion-icon>
                        <p>909 Kcal</p>
                      </ion-col>
                      <ion-col class="recipe-list__sub-info">
                        <ion-icon name="people" size="large"></ion-icon>
                        <p>3 Servings</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                <ion-card-content>
                    <ion-label>For Mediterranean diet <br/>
                        No chicken allergens.</ion-label>
                    <h4 class="recipe-list__price">₱ 100 - ₱ 250</h4>
                </ion-card-content>

                <ion-button class="recipe__cook-btn" expand="block" size="large">
                    Let’s Cook!
                </ion-button>
            </ion-card>
        </swiper-slide> -->
    </swiper-container>
</ion-content>