<ion-content [fullscreen]="true" >
    <div class="header__buttons">
        <ion-button class="header__back-btn" size="small" fill="clear" (click)="goBack()"><ion-icon name="chevron-back-outline" size="large"></ion-icon></ion-button>
        <ion-button class="header__save-btn" size="small" fill="clear"><ion-icon name="bookmark-outline" size="large"></ion-icon></ion-button>
      </div>
    <br><br><br>
    <swiper-container [scrollbar]="true" *ngIf="apiDone && mealPlan.hasOwnProperty('breakfast')"> 
        <swiper-slide *ngFor="let item of transformObjectToArray()[0]; let i=index;">
            <ion-card class="recipe-list__card">
                <img class="recipe-list__img" src="{{ item.recipe.image }}" alt="Lomi">
                <ion-card-header>
                    <ion-card-subtitle class="recipe-list__rating">
                        <ion-icon name="star" size="large"></ion-icon>
                        <ion-icon name="star" size="large"></ion-icon>
                        <ion-icon name="star" size="large"></ion-icon>
                        <ion-icon name="star" size="large"></ion-icon>
                        <ion-icon name="star" size="large"></ion-icon>
                    </ion-card-subtitle>
                    <ion-card-title class="recipe-list__title">{{ getTruncatedText(item.recipe.label, 20) }}</ion-card-title>
                </ion-card-header>

                <ion-grid>
                    <ion-row>
                      <ion-col class="recipe-list__sub-info">
                        <ion-icon name="time" size="large"></ion-icon>
                        <p *ngIf="item.recipe.totalTime==0">&#60; minute</p>
                        <p *ngIf="item.recipe.totalTime>1">{{ item.recipe.totalTime}}mins</p>
                      </ion-col>
                      <ion-col class="recipe-list__sub-info">
                        <ion-icon name="flame" size="large"></ion-icon>
                        <p>{{ item.recipe.calories | number:'1.0-0' }} cal</p>
                      </ion-col>
                      <ion-col class="recipe-list__sub-info">
                        <ion-icon name="people" size="large"></ion-icon>
                        <p>{{ item.recipe.yield}} Servings</p>
                      </ion-col>
                    </ion-row>
                </ion-grid>

                <ion-card-content>
                  <br>
                    <ion-label>{{ item.recipe.label }}</ion-label>
                </ion-card-content>

                <ion-button class="recipe__cook-btn" horizontal="end" expand="block" size="large" (click)="cookingRecipe('breakfast',i)">
                    Let’s Cook!
                </ion-button>
            </ion-card>
        </swiper-slide>
    </swiper-container>
    <br><br><br>
    <swiper-container [scrollbar]="true" *ngIf="apiDone && mealPlan.hasOwnProperty('lunch')"> 
      <swiper-slide *ngFor="let item of transformObjectToArray()[1]; let i=index;">
          <ion-card class="recipe-list__card">
              <img class="recipe-list__img" src="{{ item.recipe.image }}" alt="Lomi">
              <ion-card-header>
                  <ion-card-subtitle class="recipe-list__rating">
                      <ion-icon name="star" size="large"></ion-icon>
                      <ion-icon name="star" size="large"></ion-icon>
                      <ion-icon name="star" size="large"></ion-icon>
                      <ion-icon name="star" size="large"></ion-icon>
                      <ion-icon name="star" size="large"></ion-icon>
                  </ion-card-subtitle>
                  <ion-card-title class="recipe-list__title">{{ getTruncatedText(item.recipe.label, 20) }}</ion-card-title>
              </ion-card-header>

              <ion-grid>
                  <ion-row>
                    <ion-col class="recipe-list__sub-info">
                      <ion-icon name="time" size="large"></ion-icon>
                      <p *ngIf="item.recipe.totalTime==0">&#60; minute</p>
                      <p *ngIf="item.recipe.totalTime>1">{{ item.recipe.totalTime}}mins</p>
                    </ion-col>
                    <ion-col class="recipe-list__sub-info">
                      <ion-icon name="flame" size="large"></ion-icon>
                      <p>{{ item.recipe.calories | number:'1.0-0' }} cal</p>
                    </ion-col>
                    <ion-col class="recipe-list__sub-info">
                      <ion-icon name="people" size="large"></ion-icon>
                      <p>{{ item.recipe.yield}} Servings</p>
                    </ion-col>
                  </ion-row>
              </ion-grid>

              <ion-card-content>
                <br>
                  <ion-label>{{ item.recipe.label }}</ion-label>
              </ion-card-content>

              <ion-button class="recipe__cook-btn" horizontal="end" expand="block" size="large" (click)="cookingRecipe('lunch',i)">
                  Let’s Cook!
              </ion-button>
          </ion-card>
      </swiper-slide>
    </swiper-container>
    <br><br><br>
    <swiper-container [scrollbar]="true" *ngIf="apiDone && mealPlan.hasOwnProperty('dinner')"> 
      <swiper-slide *ngFor="let item of transformObjectToArray()[2]; let i=index;">
          <ion-card class="recipe-list__card">
              <img class="recipe-list__img" src="{{ item.recipe.image }}" alt="Lomi">
              <ion-card-header>
                  <ion-card-subtitle class="recipe-list__rating">
                      <ion-icon name="star" size="large"></ion-icon>
                      <ion-icon name="star" size="large"></ion-icon>
                      <ion-icon name="star" size="large"></ion-icon>
                      <ion-icon name="star" size="large"></ion-icon>
                      <ion-icon name="star" size="large"></ion-icon>
                  </ion-card-subtitle>
                  <ion-card-title class="recipe-list__title">{{ getTruncatedText(item.recipe.label, 20) }}</ion-card-title>
              </ion-card-header>

              <ion-grid>
                  <ion-row>
                    <ion-col class="recipe-list__sub-info">
                      <ion-icon name="time" size="large"></ion-icon>
                      <p *ngIf="item.recipe.totalTime==0">&#60; minute</p>
                      <p *ngIf="item.recipe.totalTime>1">{{ item.recipe.totalTime}}mins</p>
                    </ion-col>
                    <ion-col class="recipe-list__sub-info">
                      <ion-icon name="flame" size="large"></ion-icon>
                      <p>{{ item.recipe.calories | number:'1.0-0' }} cal</p>
                    </ion-col>
                    <ion-col class="recipe-list__sub-info">
                      <ion-icon name="people" size="large"></ion-icon>
                      <p>{{ item.recipe.yield}} Servings</p>
                    </ion-col>
                  </ion-row>
              </ion-grid>

              <ion-card-content>
                <br>
                  <ion-label>{{ item.recipe.label }}</ion-label>
              </ion-card-content>

              <ion-button class="recipe__cook-btn" horizontal="end" expand="block" size="large" (click)="cookingRecipe('dinner',i)">
                  Let’s Cook!
              </ion-button>
          </ion-card>
      </swiper-slide>
    </swiper-container>
    
    
</ion-content>