<ion-content [fullscreen]="true">
    <div class="header__buttons">
        <ion-button class="header__back-btn" size="small" fill="clear" (click)="goBack()"><ion-icon name="chevron-back-outline" size="large"></ion-icon></ion-button>
        <ion-button class="header__save-btn" size="small" fill="clear"><ion-icon name="bookmark-outline" size="large"></ion-icon></ion-button>
    </div>

    <swiper-container [scrollbar]="true">
        <swiper-slide>
            <ion-card class="recipe-list__card">
                <ion-card-header>
                    <ion-card-title class="recipe-list__title">Card Title</ion-card-title>
                    <ion-card-subtitle class="recipe-list__rating">
                        <ion-icon name="star" size="medium"></ion-icon>
                        <ion-icon name="star" size="medium"></ion-icon>
                        <ion-icon name="star" size="medium"></ion-icon>
                        <ion-icon name="star" size="medium"></ion-icon>
                        <ion-icon name="star" size="medium"></ion-icon>
                    </ion-card-subtitle>
                </ion-card-header>
                
                <ion-card-content>
                    Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>
            </ion-card>
        </swiper-slide>

        <swiper-slide>
            <ion-card class="recipe-list__card">
                <ion-card-header>
                    <ion-card-title class="recipe-list__title">Card Title</ion-card-title>
                    <ion-card-subtitle class="recipe-list__rating">
                        <ion-icon name="star" size="medium"></ion-icon>
                        <ion-icon name="star" size="medium"></ion-icon>
                        <ion-icon name="star" size="medium"></ion-icon>
                        <ion-icon name="star" size="medium"></ion-icon>
                        <ion-icon name="star" size="medium"></ion-icon>
                    </ion-card-subtitle>
                </ion-card-header>
                
                <ion-card-content>
                    Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>
            </ion-card>
        </swiper-slide>

        <swiper-slide>
            <ion-card class="recipe-list__card">
                <ion-card-header>
                    <ion-card-title class="recipe-list__title">Card Title</ion-card-title>
                    <ion-card-subtitle class="recipe-list__rating">
                        <ion-icon name="star" size="medium"></ion-icon>
                        <ion-icon name="star" size="medium"></ion-icon>
                        <ion-icon name="star" size="medium"></ion-icon>
                        <ion-icon name="star" size="medium"></ion-icon>
                        <ion-icon name="star" size="medium"></ion-icon>
                    </ion-card-subtitle>
                </ion-card-header>
                
                <ion-card-content>
                    Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>
            </ion-card>
        </swiper-slide>
    </swiper-container>
</ion-content>