.wrapper-calendar{
    width: 430px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar{
    width: 370px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}