// Header - Title and Back Button
.checkprog{
    font-size: 30px;
    font-weight: 700;
    width: 300px;
}

.titleandback{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 1rem;
    padding-top: 1.5rem;
    padding-right: 2rem;
    width: 400px;
    align-items: center;
}

.backicon{
    font-size: 20px;
}

// Content Cards

.card{
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
}

ion-card{
    border-radius: 28px;
    height: 200px;
    background: #EEBF78;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hascardfooter{
    padding-bottom: 15px;
}

.cardfooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 39px;
    padding-left: 16px;
    padding-right: 16px;
    background: radial-gradient(242.95% 242.95% at 78.82% 96.79%, rgba(63, 11, 11, 0.90) 23.67%, rgba(73, 23, 23, 0.00) 93.16%);
}

ion-card-header{
    padding-bottom: 10px;
}

ion-card-title{
    font-size: 32px;
    font-weight: 600;
    line-height: 93.8%;
    letter-spacing: -0.96px;
    color: #7A6341;
}

ion-card-subtitle{
    font-size: 12px;
    margin-right: 10px;
    color: #7A6341;
    font-weight: 400;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
}

.dropdown-container{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nexticon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-items: end;
}

// Calendar

.calendarcontainer{
    display: flex;
    justify-content: center;
}

.wrapper-calendar{
    width: 300px;
    background: #F5EFE6;
    border-radius: 10px;
}

.calendar{
    padding: 0px 20px;
    height: auto;
    width: 100%;
    background-color: #fff;
    margin-bottom: 4px;
    border-radius: 10px;
}

.monthLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MonYear{
    font-size: 18px;
    font-weight: 550;
}

.monthChange{
    ion-icon{
        font-size: 18px;
        font-weight: 550;
        padding: 10px 0px 10px 10px;
    }
}

.week{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 5px;
    max-width: 1231px;
    overflow-x: auto;

    .weekDay{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: gray;
        width: 50px;
    }

    .weekNumber{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: 550;
        width: 50px;
    }

    .today{
        color: red !important;
    }

    .square{
        background-color: #f2f2f2;
        padding: 5px 10px;
        border-radius: 20px;
    }
}

// Habit Preview

ion-checkbox::part(container) {
    border-radius: 15px;
  }

ion-chip{
    width: 243px;
    background: #F5EFE6;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 32px;
}

ion-row{
    align-items: center;
    column-gap: 7px;
}

.chiplabel{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #7A6341;
}

.botrow{
    margin-top: 4px;
}

.toplabel{
    width: 165px;
}

.botlabel{
    width: 30px;
    text-align:center;
}

ion-col{
    padding: 0;
    width: 30px;
}

.streaktxt{
    text-align: center;
    font-size: 6px;
}

.streakrow{
    width: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fire{
    height: 10px;
    width: 10px;
}

// Calorie intake
.gaugewrapper{
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    
}

.gauge{
    width: 100%;
    max-width: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #009578;
    font-weight: 550;
    background: white;
    padding-left: 10%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gauge__body{
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
}

.gauge__fill{
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #009578;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 0.2s ease-out;
}

.gauge__cover{
    width: 75%;
    height: 150%;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    // Text
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
}

.percentleftcontainer{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.perleft{
    color:#009578;
}