.checkprog{
    font-size: 30px;
    font-weight: 700;
    width: 300px;
}

.titleandback{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 1rem;
    padding-top: 1.5rem;
    padding-right: 2rem;
    width: 400px;
    align-items: center;
}

.backicon{
    font-size: 20px;
}

.card{
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
}

ion-card{
    border-radius: 28px;
    height: 200px;
    background: #EEBF78;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hascardfooter{
    padding-bottom: 15px;
}

.cardfooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 39px;
    padding-left: 16px;
    padding-right: 16px;
    background: radial-gradient(242.95% 242.95% at 78.82% 96.79%, rgba(63, 11, 11, 0.90) 23.67%, rgba(73, 23, 23, 0.00) 93.16%);
}

ion-card-header{
    padding-bottom: 10px;
}

ion-card-title{
    font-size: 32px;
    font-weight: 600;
    line-height: 93.8%;
    letter-spacing: -0.96px;
    color: #7A6341;
}

ion-card-subtitle{
    font-size: 12px;
    margin-right: 10px;
    color: #7A6341;
    font-weight: 400;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
}

.dropdown-container{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nexticon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 7px;
}

.wrapper-calendar{
    width: 300px;
    background: #F5EFE6;
    border-radius: 10px;
}

.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li{
    position: relative;
    width: calc(100% / 7);
}

.calendar ul li::before{
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li:hover::before{
    background: #f2f2f2;
}

.days,
.weeks{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
}

.days{
    margin-bottom: 5px;
    margin-top: 3px;
}

.weeks{
    margin-bottom: 3px;
}

.calendar .weeks li{
    padding-top: 16px;
    font-weight: 400;
}

.calendar .days li{
    z-index: 1;
    font-weight: 400;
}

.dates{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

ion-checkbox::part(container) {
    border-radius: 15px;
  }

ion-chip{
    width: 243px;
    background: #F5EFE6;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 32px;
}

ion-row{
    align-items: center;
    column-gap: 7px;
}

.chiplabel{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #7A6341;
}

.botrow{
    margin-top: 4px;
}

.toplabel{
    width: 165px;
}

.botlabel{
    width: 30px;
    text-align:center;
}

ion-col{
    padding: 0;
    width: 30px;
}

.streaktxt{
    text-align: center;
    font-size: 6px;
}

.streakrow{
    width: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fire{
    height: 10px;
    width: 10px;
}