<ion-content>
  <!--Header Title and Back Button-->
  <div class="titleandback">
    <ion-button class="backicon" fill="clear" size="small" (click)="goHome()">
      <ion-icon src="../../../assets/icon/chevcircleleft.svg"></ion-icon>
    </ion-button>

    <ion-label class="checkprog">Check My Progress</ion-label>
  </div>

  <!--Preview Cards-->

  <!--Calendar Preview Card-->
  <div class="card">
    <ion-card class="hascardfooter">
      <ion-card-header>
        <ion-card-subtitle>
          <div class="dropdown-container">
            <ion-label>November</ion-label>
            
              <!-- <ion-icon src="../../../assets/icon/chevrondown.svg"></ion-icon> -->
            
          </div>
        </ion-card-subtitle>
        <ion-card-title>Calendar</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div class="wrapper-calendar">
          <!-- <div class="monthYear" id="monthYear"></div> -->
          <div class="calendar">
            <ul class="weeks">
              <li>Su</li>
              <li>M</li>
              <li>T</li>
              <li>W</li>
              <li>Th</li>
              <li>F</li>
              <li>S</li>
            </ul>
            <div class="dates" id="dates"></div>
          </div>
        </div>
      </ion-card-content>

      <ion-row class="cardfooter">
        <ion-col>
          <div class="nexticon">
            <ion-icon src="../../../assets/icon/chevright.svg"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>

  <!--Habit Tracker Preview Card-->
  <div class="card">
    <ion-card class="hascardfooter">
      <ion-card-header>
        <ion-card-title>Habit Tracker</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-checkbox></ion-checkbox>
              <ion-chip>
                <ion-icon src="../../../assets/icon/Icon spoon.svg"></ion-icon>
                <ion-label class="chiplabel toplabel">Have vegetables for lunch</ion-label>
                <ion-col>
                  <ion-row class="streakrow">
                    <ion-icon class="fire" src="../../../assets/icon/🦆 icon _fire_.svg"></ion-icon>
                    <span class="chiplabel streaktxt">3 days</span>
                    <span class="chiplabel streaktxt">streak</span>
                  </ion-row>
                </ion-col>
              </ion-chip>
          </ion-row>
          <ion-row class="botrow">
            <ion-checkbox></ion-checkbox>
              <ion-chip>
                <ion-icon src="../../../assets/icon/VitaminIcon.svg"></ion-icon>
                <ion-label class="chiplabel toplabel">Take your daily vitamins</ion-label>
                <ion-label class="chiplabel botlabel">1/3</ion-label>
              </ion-chip>
          </ion-row>
        </ion-grid>
      </ion-card-content>

      <ion-row class="cardfooter">
        <ion-col>
          <div class="nexticon">
            <ion-icon src="../../../assets/icon/chevright.svg"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>

  <!--Calorie Intake Preview Card-->
  <div class="card">
    <ion-card class="hascardfooter">
      <ion-card-header>
        <ion-card-title>Calorie Intake</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- <mbsc-datepicker
        calendarType="week"
        [calendarSize]="1">
        </mbsc-datepicker> -->
      </ion-card-content>

      <ion-row class="cardfooter">
        <ion-col>
          <div class="nexticon">
            <ion-icon src="../../../assets/icon/chevright.svg"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>
</ion-content>

