<ion-content>
  <!--Header Title and Back Button-->
  <div class="titleandback">
    <div class="backicon">
    <ion-icon src="../../../assets/icon/chevcircleleft.svg"></ion-icon>
    </div>

    <div class="checkprog">
      Check My Progress
    </div>
  </div>

  <!--Preview Cards-->

  <!--Calendar Preview Card-->
  <div class="card">
    <ion-card class="hascardfooter">
      <ion-card-header>
        <ion-card-title>Calendar</ion-card-title>
        <ion-card-subtitle>
          <div class="dropdown-container">
            Week
            
              <ion-icon src="../../../assets/icon/chevrondown.svg"></ion-icon>
            
          </div>
        </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <!-- <mbsc-datepicker
        calendarType="week"
        [calendarSize]="1">
        </mbsc-datepicker> -->
      </ion-card-content>

      <ion-row class="cardfooter">
        <ion-col>
          <div class="nexticon">
            <ion-icon src="../../../assets/icon/chevright.svg"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>

  <!--Habit Tracker Preview Card-->
  <div class="card">
    <ion-card class="hascardfooter">
      <ion-card-header>
        <ion-card-title>Habit Tracker</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- <mbsc-datepicker
        calendarType="week"
        [calendarSize]="1">
        </mbsc-datepicker> -->
      </ion-card-content>

      <ion-row class="cardfooter">
        <ion-col>
          <div class="nexticon">
            <ion-icon src="../../../assets/icon/chevright.svg"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>

  <!--Calorie Intake Preview Card-->
  <div class="card">
    <ion-card class="hascardfooter">
      <ion-card-header>
        <ion-card-title>Calorie Intake</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- <mbsc-datepicker
        calendarType="week"
        [calendarSize]="1">
        </mbsc-datepicker> -->
      </ion-card-content>

      <ion-row class="cardfooter">
        <ion-col>
          <div class="nexticon">
            <ion-icon src="../../../assets/icon/chevright.svg"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>
</ion-content>
